.jf-table {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    .jf-line {
        display: flex;
        border-top: 1px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.5);
        color: #ffffff;
        > div {
            flex: 1;
            text-align: center;
            border-left: 1px solid #ffffff;

            &:last-child {
                border-right: 1px solid #ffffff;
            }
        }
        &.header {
            color: #00ACDC;
            background-color: rgba(255, 255, 255, 0.8);
        }
        &:last-child {
            border-bottom: 1px solid #ffffff;
        }
        &:nth-child(2n) {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.dash-title {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin: 24px 0;
}